<head>
     <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/base/bootstrap.min.css" rel="stylesheet" />


</head>
<div class="container">
<div class="row menu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Cliente", "Lista", "Cliente")</li>
        <li>@Html.ActionLink("Pedido", "Lista", "Pedido")</li>
    </ul>
</div>
    </div>